.badge{
    background-color: var(--black-10);
    border-radius: 8px;
    padding: 6px 10px;
    display: flex;
    gap: 12px;
    width: fit-content;
    font-size: 14px;
}

.badgeChildren{
    background-color: var(--primary-700);
    padding: 2px 6px;
    border-radius: 4px;
    color: var(--white-900);
}